@import 'https://fonts.googleapis.com/css?family=Quicksand';

body{
  background-image: linear-gradient(to right, #241b21, #2e162b, #361037, #390a4795, #36055980), url('assets/bg.png') !important;
  height: 100%;
  margin:0;
}

.mainContainer{
  text-align: center;
  max-height: 100vh;
  cursor: pointer;
}


.title{
  font-family: 'BestFriend';
  font-size: 128px;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out;
  animation: fade-in 2s ease-in-out forwards;

}
.subTitle2{
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  opacity: 0.8;
  font-size: 12px;
  color:#fff;
  text-align: center;
  margin:0;
  left: 50%;
  margin-top: 4%;
}


.subTitle{
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  margin-top:95vh;
  opacity: 0.8;
  font-size: 12px;
  color:#fff;
  text-align: center;
  left: 50%;
  -webkit-animation: bounce .4s ease infinite alternate;
}

@-webkit-keyframes bounce {
  0% {}
  100% {
    transform:translateY(-7px);
  }
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	background-color: #420c54;	
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.slide {
  width: 100vw;
  height: 100vh;
}

.page-content {
  background: linear-gradient(to bottom, #241b21, #2e162b, #361037, #390a47, #360559) !important;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slides {
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-y: hidden;
  /* padding:10%; */
  width: 800vw;
}

.slide{
  width:100vw !important;
}

.one img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.speech{
  z-index: 1;
  position: absolute;
}

.two img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.three img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.four img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.fourtwo img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.five img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.six img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.seven video{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.eight img{
  padding-top:5%;
  height:80%;
  margin: auto;
  display: block;
  z-index: 0;
}

.abstract-sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #420c54;
  text-align: center;
  height: 100vh;
  width: 4em;
  z-index: 99;
}

.abstract-sidebar a {
  line-height: 2.5em;
  color: #FFFFFF;
  position: fixed;
  transform-origin: bottom right;
  transform: rotate(270deg);
  top: 40%;
  right: 0;
  padding: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 999;
  text-decoration: none;
}

.abstract-sidebar::hover {
  text-decoration: none !important;
}

.abstract-popup {
  width: 40vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #420c54;
  color: #FFFFFF !important;
  z-index: 100;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.6s ease-in;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #FFFFFF !important;
}

.abstract-popup.open {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.6s ease-in;
}

.abstract-popup-header{
    width: 100%;
    text-align: center;
    padding: 2em;
}

.close-abstract-popup{
  color: #FFFFFF !important;
  font-size: 3em;
  text-decoration: none !important;
}

.abstract-popup-body{
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF !important;
}