
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
  }
  
  
  .flex-item {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }

  .flex-item img {
    width: 50%;
    object-fit: fill;
    max-width: 1300px;
  }
  

  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
   

   html, body, section {
    block-size: 100%;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: center;
    scroll-snap-stop: normal;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  section:nth-of-type(even) {
    color: white;
    background: black;
  }
  
  section:nth-of-type(odd) {
    color: black;
    background: white;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 4rem;
  }